@import "azure-devops-ui/_coreStyles.scss";


.container {
    padding: 20px;
    background-color: $backgroundColor;
    width: 100%;
  }
  
 
  .pmd-card-metrics-header{
      display: block;
  }
  
  .pmd-card-metrics-measure{
    display: block;
}

.centered {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }