@import "azure-devops-ui/_coreStyles.scss";


.container {
  padding: 20px;
  background-color: $backgroundColor;
  width: 100%;
  font-family: "Segoe UI";
}
  
.pmd-card-metrics-header{
  display: block;
}
  
.pmd-card-metrics-measure{
  display: block;
}

.centered {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
}

.pmd-card-item {
  background-color: #fff;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132),0 .6px 1.8px 0 rgba(0, 0, 0, .108);
  border: none;
  height: 125px;
}

.card-metrics-value {
  font-size: 1.75rem;
}